
/*
 * CSS rule reset
 * 
 * Sets browser styles back to neutral values
 * 
 * Version:  3.02
 * Updated:  1/08/2012
 * Author:   Chris Lienert
 * Changes:  Shifted form styles to quaid.form5.css
 * 
 * Modified from http://html5boilerplate.com/
 */
/**
* HTML5 âœ° Boilerplate
*
* style.css contains a reset, font normalization and some base styles.
*
* Credit is left where credit is due.
* Much inspiration was taken from these projects:
* - yui.yahooapis.com/2.8.1/build/base/base.css
* - camendesign.com/design/
* - praegnanz.de/weblog/htmlcssjs-kickstart
*/
/**
* html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
* v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
* html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h2, h3, h4, h5, h6, p, blockquote, pre, /* removed h1 */
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
 
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
 
ins { background-color: #ff9; color: #000; text-decoration: none; }
 
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
 
del { text-decoration: line-through; }
 
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
 
table { border-collapse: collapse; border-spacing: 0; }
 
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
 
input, select { vertical-align: middle; }


/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */
 
body { font:13px/1.385 sans-serif; *font-size:small; } /* Hack retained to preserve specificity */
select, input, textarea, button { font:99% sans-serif; }

/**
 * Minimal base styles.
 */
 
/* Always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: 0; }

ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
 
small { font-size: 85%; }
strong, th { font-weight: bold; }
 
td { vertical-align: top; }

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; white-space: pre-wrap; word-wrap: break-word;
  padding: 15px;
}

/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301 */
::-moz-selection{ background: #3399ff; color:#fff; text-shadow: none; }
::selection { background:#3399ff; color:#fff; text-shadow: none; }
 
/* j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #8700ff; }
 
/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }

.access { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* 
 * Typographical rules
 * 
 * Sets default fonts, sizes, margins and padding.
 * 
 * Version:  4.00
 * Updated:  24/06/2011
 * Author:   Chris Lienert
 * Changes:  Updated to match reset3.css
 * 
 * With help from: Richard Rutter http://clagnut.com/
 */

body {
  font: normal 13px/18px tahoma, geneva, verdana, sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  text-rendering: optimizelegibility;
}
/* 
 * h1 {
  font: normal 30px/1 "helvetica neue", helvetica, arial, sans-serif;
  margin-bottom: 24px;
}
 */
h2 {
  font: normal 24px/1 "helvetica neue", helvetica, arial, sans-serif;
  margin: 18px 0 12px;
}
h3 {
  font: normal 18px/1 "helvetica neue", helvetica, arial, sans-serif;
  margin: 18px 0 9px;
}
h4 {
  font: normal 15px/1.286 "helvetica neue", helvetica, arial, sans-serif;
  margin: 10px 0 7px;
}
h5 {
  font: bold 13px/1.385 "helvetica neue", helvetica, arial, sans-serif;
  margin: 12px 0 7px;
}

p, ul, ol, dl, address, table, pre {
  margin-top: 9px;
  margin-bottom: 18px;
}

/* see http://blog.fontdeck.com/post/9037028497/hyphens */
p {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

pre {
  overflow: auto;
}
form {
  margin-bottom: 18px;
}

/* remove unwanted margins */
ul ul, ol ol, ol ul, ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: bold;
  margin-top: 9px;
}


/* 
 * CSS form rules
 * 
 * Default form layout rules
 * 
 * Version:  5.03
 * Updated:  29/06/2012
 * Author:   Chris Lienert
 * Changes:  Added form styles from reset3.css
 *           Added error hover styles from quaid.forms-4.0.js
 * 
 */
textarea { overflow: auto; } /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css ; */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: text-bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="reset"], input[type="image"], button { cursor: pointer; }
 
/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/* Colors for form validity */
textarea, input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="url"], select {
  border: 1px solid #999;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font: 1em/1.2 "Helvetica neue", Arial, sans-serif;
}
input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="url"] {
  height: 1.2em;
  padding: 2px;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="tel"]:focus, input[type="url"]:focus, select:focus, textarea:focus, 
input[type="text"]:hover, input[type="password"]:hover, input[type="email"]:hover, input[type="tel"]:hover, input[type="url"]:hover, select:hover, textarea:hover {
  box-shadow: 0 0 2px #8baabf;
  border-color: #8baabf;
  -webkit-transition: box-shadow 0.2s;
  -moz-transition: box-shadow 0.2s;
  -o-transition: box-shadow 0.2s;
  transition: box-shadow 0.2s;
}
.invalid textarea:focus, 
.invalid textarea:hover, 
.invalid select:focus, 
.invalid select:hover, 
.invalid input:focus, 
.invalid input:hover,
textarea.invalid:focus, 
textarea.invalid:hover, 
select.invalid:focus, 
select.invalid:focus, 
input.invalid:focus, 
input.invalid:hover {
  box-shadow: 0 0 2px #c00;
  border-color: #c00;
}
.invalid input, 
.invalid textarea,
.invalid select,
input.invalid, 
textarea.invalid,
select.invalid { 
  border-color: #c00;
  background-color: #f0dddd; 
}
label.alert {
  color: #900;
}

input[readonly],
textarea[readonly] {
  background-color: #ddd;
  border-color: transparent;
}

input[type='radio'], input[type='checkbox'] {
  padding-left: 0;
}

input.default {
  font-weight: bold;
}

label {
  display: block;
}
.radio {
  display: block;
}
.radio label {
  display: inline;
  margin-right: 1em;
}

/* form elements */

fieldset {
  border: 1px solid;
  border-bottom: none;
  padding-bottom: 1px;/* prevent margins from collapsing in Webkit clients */
  margin-bottom: -1px;
}
fieldset fieldset {
  margin: 12px;
  border-bottom: 1px solid;
}
fieldset.submit {
  border-bottom: 1px solid;
}
.button {
  margin-right: 12px;
}
fieldset p img {
  vertical-align: text-top;
}

form h2 {
  margin: 0;
  padding: 9px 17px 11px;
  border-bottom: 1px solid;
  font: 24px/1 "helvetica neue", helvetica, arial, sans-serif;
}
form h3 {
  margin: 0;
  padding: 12px 17px 14px;
  border-bottom: 1px solid;
  font: bold 18px/1 "helvetica neue", helvetica, arial, sans-serif;
}
form h4 {
  margin: 0;
  padding: 8px 17px 8px;
  border-bottom: 1px solid;
  font: bold 14px/1.286 "helvetica neue", helvetica, arial, sans-serif;
}
fieldset fieldset h4 {
  border-top: none;
}
form p {
  margin: 0 0 12px;
  padding: 0 17px;
}
fieldset h2+p, fieldset h3+p, fieldset h4+p {/* first paragraph */
  margin-top: 12px;
}
fieldset.submit p {
  margin-top: 12px;
}
form ol, form ul {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 44px;
}
form li {
  margin: 0 0 12px;
  padding: 0 17px 0 0;
}
form li p {
  margin: 0;
  padding: 0;
}
label.errata {
  display: block;
  padding: 1px 5px 1px 21px;
  color: #c00;
  background: url("../images/error.png") no-repeat 3px center;
  font-style: normal;
  font-weight: bold;
}
.ie7 label.errata {/* overcome reluctance to show longer error messages */
  max-width: 300px;
}
.ie6 label.errata {
  width: 300px;
}
label.js-hover {
  z-index: 100;
  position: absolute;
  border: 1px solid #bfc1c9;
  -moz-box-shadow: 0 1px 2px #c1c1c1; 
  -webkit-box-shadow: 0 1px 2px #c1c1c1;
  box-shadow: 0 1px 2px #c1c1c1;
  background-color: #fff;
}

p.error {
  font-weight: bold;
}
p.feedback {
  font-weight: bold;
}
p.hint {
  margin-bottom: 0;
}
form p.hint {
  margin-top: -12px;
  margin-bottom: 12px;
}
p.help {
  font-weight: bold;
}
p.check {
  font-weight: bold;
}
p.check input {
  float: left;
  margin-top: 3px;
}
p.check label {
/*  display: inline;*/
  padding-left: 20px;
}
